    @import url(./fonts.css);

    .about__sec {
        height: 300px;
        opacity: 0.4;
        display: flex;
    }

    .about__sec h1 {
        color: #FFF;
        font-family: Roboto;
        font-size: 40px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        margin-top: 60px;
    }

    @media screen and (max-width: 480px) {
        .about__sec h1 {
            display: flex;
            justify-content: center;
        }
    }

    .about__sec h2 {
        color: rgba(255, 255, 255, 0.60);
        font-family: Roboto;
        font-size: 30px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-top: 30px;
    }

    .about__sec strong {
        color: #FFF;
        font-family: Roboto;
        font-size: 30px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }

    @media screen and (max-width: 480px) {
        .about__sec h2 {
            display: flex;
            justify-content: center;
        }
    }

    .about__text {
        height: 1000px;
    }

    .about__text_part1 {
        display: flex;
    }

    @media screen and (max-width: 480px) {
        .about__text_part1 {
            display: block;
        }
    }

    .about__text_part1 img {
        margin-top: 50px;
    }

    @media screen and (max-width: 480px) {
        .about__text_part1 img {
            width: 300px;
            height: 300px;
            margin-left: 40px;
        }
    }

    .about__text-title {
        margin-left: 50px;
        margin-top: 50px;
    }

    .about__text-title h1 {
        color: #80C4D3;
        font-family: Poppins;
        font-size: 40px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-transform: uppercase;
    }

    @media screen and (max-width: 480px) {
        .about__text-title h1 {
            margin-left: 15px;
        }
    }

    .about__text-title h2 {
        color: #000;
        font-family: Poppins;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 35px;
        width: 501px;
        height: 425px;
    }

    @media screen and (max-width: 480px) {
        .about__text-title h2 {
            width: 300px;
            height: 100px;
            text-align: justify;
            font-size: 15px;
            line-height: 20px;
            margin-left: -10px;
        }
    }

    .about__text_part2 {
        display: flex;
    }

    @media screen and (max-width: 480px) {
        .about__text_part2 {
            display: block;
        }
    }

    .about__text-title2 {
        margin-top: 50px;
    }

    @media screen and (max-width: 480px) {
        .about__text-title2 {
            margin-left: 50px;
            margin-top: 300px;
        }
    }

    .about__text-title2 h1 {
        color: #80C4D3;
        font-family: Poppins;
        font-size: 40px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-transform: uppercase;
    }

    @media screen and (max-width: 480px) {
        .about__text-title2 h1 {
            margin-left: 15px;
        }
    }

    .about__text-title2 h2 {
        color: #000;
        font-family: Poppins;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 35px;
        width: 501px;
        height: 425px;
    }

    @media screen and (max-width: 480px) {
        .about__text-title2 h2 {
            width: 300px;
            height: 100px;
            text-align: justify;
            font-size: 15px;
            line-height: 20px;
            margin-left: -10px;
        }
    }

    .about__text-title3 {
        margin-top: 50px;
        margin-left: 50px;
    }

    @media screen and (max-width: 480px) {
        .about__text-title3 {
            margin-top: 300px;
        }
    }

    .about__text-title3 h1 {
        color: #80C4D3;
        font-family: Poppins;
        font-size: 40px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-transform: uppercase;
    }

    @media screen and (max-width: 480px) {
        .about__text-title3 h1 {
            margin-left: 15px;
        }
    }

    .about__text-title3 h2 {
        color: #000;
        font-family: Poppins;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 35px;
        width: 501px;
        height: 425px;
    }

    @media screen and (max-width: 480px) {
        .about__text-title3 h2 {
            width: 300px;
            height: 100px;
            text-align: justify;
            font-size: 15px;
            line-height: 20px;
            margin-left: -10px;
        }
    }
